 /**
 * Common style
 */

.mg-0 {margin: 0px !important;}
.mg-t-0 {margin-top: 0px !important;}
.mg-t-5 {margin-top: 5px !important;}
.mg-t-10 {margin-top: 10px !important;}
.mg-t-15 {margin-top: 15px !important;}
.mg-t-20 {margin-top: 20px !important;}
.mg-t-25 {margin-top: 25px !important;}
.mg-t-30 {margin-top: 30px !important;}
.mg-t-40 {margin-top: 40px !important;}

.mg-bt-0 {margin-bottom: 0px !important;}
.mg-bt-5 {margin-bottom: 5px !important;}
.mg-bt-10 {margin-bottom: 10px !important;}
.mg-bt-15 {margin-bottom: 15px !important;}
.mg-bt-20 {margin-bottom: 20px !important;}
.mg-bt-25 {margin-bottom: 25px !important;}
.mg-bt-30 {margin-bottom: 30px !important;}
.mg-bt-40 {margin-bottom: 40px !important;}

.mg-l-0 {margin-left: 0px !important;}
.mg-l-5 {margin-left: 5px !important;}
.mg-l-10 {margin-left: 10px !important;}
.mg-l-15 {margin-left: 15px !important;}
.mg-l-20 {margin-left: 20px !important;}
.mg-l-25 {margin-left: 25px !important;}
.mg-l-30 {margin-left: 30px !important;}
.mg-l-40 {margin-left: 40px !important;}

.mg-r-0 {margin-right: 0px !important;}
.mg-r-5 {margin-right: 5px !important;}
.mg-r-10 {margin-right: 10px !important;}
.mg-r-15 {margin-right: 15px !important;}
.mg-r-20 {margin-right: 20px !important;}
.mg-r-25 {margin-right: 25px !important;}
.mg-r-30 {margin-right: 30px !important;}
.mg-r-40 {margin-right: 40px !important;}

.pd-0 {padding: 0px !important;}
.pd-t-0 {padding-top: 0px !important;}
.pd-t-5 {padding-top: 5px !important;}
.pd-t-10 {padding-top: 10px !important;}
.pd-t-15 {padding-top: 15px !important;}
.pd-t-20 {padding-top: 20px !important;}
.mg-t-25 {margin-top: 25px !important;}
.pd-t-30 {padding-top: 30px !important;}
.pd-t-40 {padding-top: 40px !important;}

.pd-bt-0 {padding-bottom: 0px !important;}
.pd-bt-5 {padding-bottom: 5px !important;}
.pd-bt-10 {padding-bottom: 10px !important;}
.pd-bt-15 {padding-bottom: 15px !important;}
.pd-bt-20 {padding-bottom: 20px !important;}
.pd-bt-25 {padding-bottom: 25px !important;}
.pd-bt-30 {padding-bottom: 30px !important;}
.pd-bt-40 {padding-bottom: 40px !important;}

.pd-l-0 {padding-left: 0px !important;}
.pd-l-5 {padding-left: 5px !important;}
.pd-l-10 {padding-left: 10px !important;}
.pd-l-15 {padding-left: 15px !important;}
.pd-l-20 {padding-left: 20px !important;}
.pd-l-25 {padding-left: 25px !important;}
.pd-l-30 {padding-left: 30px !important;}
.pd-l-40 {padding-left: 40px !important;}

.pd-r-0 {padding-right: 0px !important;}
.pd-r-5 {padding-right: 5px !important;}
.pd-r-10 {padding-right: 10px !important;}
.pd-r-15 {padding-right: 15px !important;}
.pd-r-20 {padding-right: 20px !important;}
.pd-r-25 {padding-right: 25px !important;}
.pd-r-30 {padding-right: 30px !important;}
.pd-r-40 {padding-right: 40px !important;}

body {
    @media only screen and(max-width: 768px) {
        padding-top: 55px;
    }
}

// Menu
#fix-top-menu {
    .menu-hover-li {
        .link-image {
            display: block;
            .image {
                display: block;
                width: 100%;
                height: 90px;
                object-fit: cover;
                object-posision: center center;
            }
        }
    }
}
.carttop_wrapper {
    span {
        font-weight: bold;
        color: #000;
    }
}
.product-item-wrapper {
    .product-information {
        .image {
            padding-top: 0;
            height: 250px;
            object-fit: cover;
            object-position: center center;
            width: 100%;
        }
    }
}

.blog-read-viewed {
    .post-link {
        display: block;
        overflow: hidden;
        @media only screen and(min-width: 769px) {
            float: left;
            padding-right: 15px;
        }
        .image {
            width: 100%;
            height: 250px;
            object-fit: cover;
            object-position: center center;
            @media only screen and(min-width: 769px) {
                width: 140px;
                height: 100px;
            }
        }
    }
    .caption {
        padding: 0px 0 0 10px;
        float: left;
        @media only screen and(min-width: 769px) and (max-width: 992px) {
            float: left;
            width: 230px;
            overflow: hidden;
        }
        @media only screen and(min-width: 992px) and (max-width: 1200px) {
            width: 200px;
        }
        @media only screen and (min-width: 1200px) {
            width: 195px;
        }
    }
}

.menu_footer {
    .link {
        display: block;
        .image {
            height: 100px;
            object-fit: cover;
            object-position: center center;
        }
    }
}

.footer-colsystem {
    margin-bottom: 20px;
}
.breadcrumb {
    margin-top: 5px;
}

#cartform {
    .link {
        display: block;
        width: 90px;
        height: 90px;
        overflow: hidden;
        .img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }
    .item-row {
        border-bottom: 1px solid #ccc;
        padding: 15px 0;
        .name {
            font-size: 12px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            width: 100px;
            display: block;
        }
    }
}

#product.product-detail-container {
    .thumbnail {
        height: 67px;
        width: 90px;
        display: block;
        overflow: hidden;
        float: left;
        padding: 0;
        margin: 5px 10px 5px 0;
        object-fit: cover;
        object-position: center center;
        &.last {
            margin-right: 0;
        }
        img {
            margin-top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }
    .image-product-carousel {
        height: 250px;
        width: 100%;
        object-fit: cover;
        object-position: center center;
        @media only screen and(min-width: 480px) {
            height: 350px;
        }
        @media only screen and(min-width: 768px) {
            height: 400px;
        }
    }
    .sec-policies-feature {
        &.policy-fixed {
            @media only screen and (min-width: 1220px) {
                position: fixed;
                // right: 75px;
                z-index: 100;
                background: #fff;
                width: 234px;
                top: 0px;
                transition: all 1s;
            }
        }
    }
    #spec {
        overflow: hidden;
        padding: 20px 0 20px 0;
        img {
            max-width: 100%;
        }
    }
    .description {
        img {
            max-width: 100%;
        }
    }
    .sec-heading {
        text-transform: uppercase;
        font-size: 14px;
        border-bottom: 1px solid #ccc;
        position: relative;
        margin: 0 0 20px 0;
        span {
            border-bottom: 2px solid #d61c1f;
            display: inline-block;
            margin-bottom: -1px;
            font-weight: bold;
            padding: 5px 0;
        }
    }
    .sec-related-product {
        .heading {

        }
    }
    .nav-tabs>li>a {
        font-weight: bold;
        text-transform: uppercase;
        color: #555;
        border: none;
        border-bottom: 2px solid transparent;
    }
    .nav-tabs > li.active > a {
        border: none;
        border-bottom: 2px solid #d61c1f;
    }
    .tab-content {
        .tab-pane {
            padding-top: 10px;
            img {
                max-width: 100%;
            }
        }
    }
    #descriptionproduct {
        img {
            max-width: 100%;
        }
    }
    .thumbnails-hidden {
        position: relative;
        .slider-controls {
            .left,.right {
                position: absolute;
                z-index: 100;
                top: 0;
                font-size: 40px;
                color: #c0c0c0;
                cursor: pointer;
            }
            .left {
                left: 0;
            }
            .right {
                right: 0;
            }
        }
    }
    .col-sys-left-wrapper {
        @media only screen and(min-width: 1200px) {
            width: 80%;
        }
    }
    .store-wrapper {
        @media only screen and(min-width: 1200px) {
            width: 20%;
        }
    }
}

.ClickBlogItem {
    display: block;
}

.col-xs-24,
.col-sm-24,
.col-md-24,
.col-lg-24 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-xs-24 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
    .col-sm-24 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-24 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-24 {
        width: 20%;
        float: left;
    }
}

#post-index {
    .block-1 {
        padding-top: 20px;

        .blog-read-item {
            .link-image {
                display: block;
                overflow: hidden;
                float: left;
                width: 90px;
                height: 90px;
                .image {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center center;
                }
            }
        }
    }
}

#post-detail {
    #orther-article {
        .link {
            display: block;
            overflow: hidden;
            height: 125px;
            .item-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center center;
            }
        }
        .title {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            overflow: hidden;
            -webkit-box-orient: vertical;
            height: 2.5em;
        }
    }
}

#cart-container {
    .btn-update, .btn-clear {
        padding: 8px 50px;
        border-radius: 0;
        background: #ccc;
        border: #ccc;
        color: #000;
        font-weight: bold;
        text-transform: uppercase;
    }
    .btn-checkout {
        padding: 8px 50px;
        background: #e32124;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 0;
    }
}

#store-container {
    h1 {
        font-size: 18px;
        text-transform: uppercase;
    }
    h2 {
        font-size: 18px;
        text-transform: uppercase;
    }
    .store-item {
        display: block;
        .store-link {
            color: #444;
            font-weight: bold;
        }
    }
    .product-section {
        .product-item {
            margin-bottom: 15px;
            .link {
                position: relative;
                display: block;
                .img {
                    display: block;
                    width: 100%;
                    height: 250px;
                    object-fit: cover;
                    object-position: center center;
                }
                .info {
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background: rgba(0,0,0,.6);
                    width: 100%;
                    padding: 5px 10px;
                }
                .price,.name {
                    display: block;
                }
                .price {
                    font-size: 24px;
                    color: #ccc;
                    color: #e32124;
                    font-weight: bold;
                    display: block;
                }
                .name {
                    font-size: 14px;
                    padding-top: 5px;
                    color: #fff;
                    white-space: normal;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }
    }
}

#search-container {
    h1 {
        font-size: 18px;
        text-transform: uppercase;
    }
}

#store-detail-container {
    .name {
        font-size: 16px;
        text-transform: uppercase;
    }
    h2 {
        font-size: 18px;
        text-transform: uppercase;
    }
    .product-section {
        .product-item {
            margin-bottom: 15px;
            .link {
                position: relative;
                display: block;
                .img {
                    display: block;
                    width: 100%;
                    height: 250px;
                    object-fit: cover;
                    object-position: center center;
                }
                .info {
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background: rgba(0,0,0,.6);
                    width: 100%;
                    padding: 5px 10px;
                }
                .price,.name {
                    display: block;
                }
                .price {
                    font-size: 24px;
                    color: #ccc;
                    color: #e32124;
                    font-weight: bold;
                    display: block;
                }
                .name {
                    font-size: 14px;
                    padding-top: 5px;
                    color: #fff;
                    white-space: normal;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }
    }
}

#home-slider {
    .img {
        max-height: 500px;
        width: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

.center-product {
    .product-image {
        &:hover {
            .image-hover {
                // display: block;
            }
        }
    }
}