.infica-tags-input-container {
  border: 1px solid #ccc;
  padding: 10px;
  overflow: hidden; }
  .infica-tags-input-container .infica-tags-input-input {
    border: none;
    padding: 5px;
    display: inline-block;
    float: left; }
  .infica-tags-input-container .infica-tag-item {
    display: inline-block;
    margin: 2px 2px 0 0;
    border-radius: 2px;
    background-color: #cde69c;
    padding: 5px 10px;
    overflow: hidden;
    float: left; }
    .infica-tags-input-container .infica-tag-item span {
      color: #638421;
      font-family: helvetica;
      font-size: 13px;
      display: block;
      float: left;
      margin-right: 5px; }
    .infica-tags-input-container .infica-tag-item .infica-tag-close {
      float: left;
      display: block;
      cursor: pointer;
      font-weight: bold;
      color: #82ad2b;
      text-decoration: none;
      font-size: 11px;
      font-style: normal; }
.mg-0 {
  margin: 0px !important;
}
.mg-t-0 {
  margin-top: 0px !important;
}
.mg-t-5 {
  margin-top: 5px !important;
}
.mg-t-10 {
  margin-top: 10px !important;
}
.mg-t-15 {
  margin-top: 15px !important;
}
.mg-t-20 {
  margin-top: 20px !important;
}
.mg-t-25 {
  margin-top: 25px !important;
}
.mg-t-30 {
  margin-top: 30px !important;
}
.mg-t-40 {
  margin-top: 40px !important;
}
.mg-bt-0 {
  margin-bottom: 0px !important;
}
.mg-bt-5 {
  margin-bottom: 5px !important;
}
.mg-bt-10 {
  margin-bottom: 10px !important;
}
.mg-bt-15 {
  margin-bottom: 15px !important;
}
.mg-bt-20 {
  margin-bottom: 20px !important;
}
.mg-bt-25 {
  margin-bottom: 25px !important;
}
.mg-bt-30 {
  margin-bottom: 30px !important;
}
.mg-bt-40 {
  margin-bottom: 40px !important;
}
.mg-l-0 {
  margin-left: 0px !important;
}
.mg-l-5 {
  margin-left: 5px !important;
}
.mg-l-10 {
  margin-left: 10px !important;
}
.mg-l-15 {
  margin-left: 15px !important;
}
.mg-l-20 {
  margin-left: 20px !important;
}
.mg-l-25 {
  margin-left: 25px !important;
}
.mg-l-30 {
  margin-left: 30px !important;
}
.mg-l-40 {
  margin-left: 40px !important;
}
.mg-r-0 {
  margin-right: 0px !important;
}
.mg-r-5 {
  margin-right: 5px !important;
}
.mg-r-10 {
  margin-right: 10px !important;
}
.mg-r-15 {
  margin-right: 15px !important;
}
.mg-r-20 {
  margin-right: 20px !important;
}
.mg-r-25 {
  margin-right: 25px !important;
}
.mg-r-30 {
  margin-right: 30px !important;
}
.mg-r-40 {
  margin-right: 40px !important;
}
.pd-0 {
  padding: 0px !important;
}
.pd-t-0 {
  padding-top: 0px !important;
}
.pd-t-5 {
  padding-top: 5px !important;
}
.pd-t-10 {
  padding-top: 10px !important;
}
.pd-t-15 {
  padding-top: 15px !important;
}
.pd-t-20 {
  padding-top: 20px !important;
}
.mg-t-25 {
  margin-top: 25px !important;
}
.pd-t-30 {
  padding-top: 30px !important;
}
.pd-t-40 {
  padding-top: 40px !important;
}
.pd-bt-0 {
  padding-bottom: 0px !important;
}
.pd-bt-5 {
  padding-bottom: 5px !important;
}
.pd-bt-10 {
  padding-bottom: 10px !important;
}
.pd-bt-15 {
  padding-bottom: 15px !important;
}
.pd-bt-20 {
  padding-bottom: 20px !important;
}
.pd-bt-25 {
  padding-bottom: 25px !important;
}
.pd-bt-30 {
  padding-bottom: 30px !important;
}
.pd-bt-40 {
  padding-bottom: 40px !important;
}
.pd-l-0 {
  padding-left: 0px !important;
}
.pd-l-5 {
  padding-left: 5px !important;
}
.pd-l-10 {
  padding-left: 10px !important;
}
.pd-l-15 {
  padding-left: 15px !important;
}
.pd-l-20 {
  padding-left: 20px !important;
}
.pd-l-25 {
  padding-left: 25px !important;
}
.pd-l-30 {
  padding-left: 30px !important;
}
.pd-l-40 {
  padding-left: 40px !important;
}
.pd-r-0 {
  padding-right: 0px !important;
}
.pd-r-5 {
  padding-right: 5px !important;
}
.pd-r-10 {
  padding-right: 10px !important;
}
.pd-r-15 {
  padding-right: 15px !important;
}
.pd-r-20 {
  padding-right: 20px !important;
}
.pd-r-25 {
  padding-right: 25px !important;
}
.pd-r-30 {
  padding-right: 30px !important;
}
.pd-r-40 {
  padding-right: 40px !important;
}

/*# sourceMappingURL=system.style.css.map*/